.Rproj.user
.Rhistory
.RData
.Ruserdata
nucmer.error
out.ntref
out.mgaps
test.sam
test_out.sam
test.csv
test.tsv
test2.tsv
test3.tsv
test_Flinger.tsv
test_wilcox.tsv
s_table.txt
g_table.txt
total_table.txt
/tmp/
/s_fasta/
/outfile/
/Assembled_Metagenomes/
/.RDataFiles/
/.idea/
test_Flinger.tsv
test*
test_CUB.py
.directory
.idea